html{
  font-family: Raleway, san-serif;
  font-size: 16px;
}
body{
  background-color: RGB(240,240,240);
  color: RGB(30,30,30);

}
header{
  display: flex;
  background-color: RGB(240,240,240);
  height: 4rem;
  align-items: center;
}
h1{
  font-size: 2rem;
  font-weight: 600;
  color: RGB(218,165,32);
  margin: 0.67rem 0;
  line-height: 2.3rem;
}
h3{
  font-size: 1.17rem;
  font-weight: 500;
  color: RGB(215,215,215);
  margin: 1rem 0;
  line-height: 1.5rem;
}
h4{
  font-size: 1.33rem;
  color: RGB(218,165,32);
  margin-bottom: .5rem;
}
h5{
  padding: .5rem 0rem;
}
p{
  line-height: 1.5rem;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  width: 100%;
  margin: 0 1.5rem;
  border: 1px solid black;
}
.logo-img{
  height: 2.5rem;
}
.logo{
  font-family: Ubuntu;
  font-size: 1.5rem;
  color: RGB(218,165,32);
}
.bold{
  font-weight: 700;
}
.light{
  font-weight: 300;
}
nav div{
  display: flex;
  align-items: center;
}
nav li{
  display: inline;
  border: 1px solid black;
}
li .right{
  padding-right: 1rem;
}
.banner-type-1{
  display: flex;
}
.gray{
  background: RGB(30,30,30);
}
.light-gray{
  background: RGB(215,215,215);
}
.left-half{
  width: 60%;
  margin: 2rem 1.5rem;
  border: 1px solid red;
}
.left-half img{
  width: 100%;
}
.left-half h1{
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.text{
  margin-top: 1.5rem;
}
.text p{
  margin-bottom: 2rem;
}
.right-half{
  display: flex;
  width:25%;
  flex-direction: column;
  justify-content: center;
}
.banner{
  width: 25%;
  margin: 2rem 1.5rem;
  border: 1px solid red;
}
.button{
  background-color: RGB(85,85,85);
  color: RGB(215,215,215);
  font-size: 1.07rem;
  font-weight: 500;
  text-align: center;
  padding: .5rem 0;
  margin-top: 1rem;
}
.info-rectangles{
  width: 40%;
  margin-left: 1.5rem;
  border-left: 1px solid RGB(30,30,30);
}
.rectangle{
  display: flex;
  align-content: center;
  margin: 1rem 1rem;
}
.rectangle img{
  width: 100%;
  height: auto;
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin-right: 1rem;
}
.info{
  display: flex;
  flex-flow: column;
  justify-content: center;
  line-height: 0.5rem;
  width: 65%;
}
.link{
  color: RGB(85,85,85);
  font-style: italic;
}
.banner-type-2 h1{
  text-align: center;
  padding-top: 2rem;
  color: RGB(30,30,30);
}
.courses{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  border: 1px solid red;
}
.box{
  display: flex;
  flex-flow: column;
  width: 25%;
  background-color: RGB(240,240,240);
  margin: 2rem;
  border: 1px solid red;
}
.box img{
  width: 100%;
  height: auto;
}
.box h4{
  padding-top: 1rem;
}
.box-content{
  padding: 1rem;
}
.thesis h1{
  padding-top: 2rem;
  margin: 0;
  border: 1px solid black;
}
